.bloc-list-offre{
    /*background-image: url(../../images/nos-04-offres.png);*/
    background-size: 1366px;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 1149px;
}
.bloc-list-card-offre{
    margin: auto;
    max-width: 1069px;
    padding: 1.5em 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-offre{
    padding: 3em 0em 0em 3em;
    width: 47%;
    height: 456px;
    text-align: left;
    border-radius: 6px;
    margin: 0em 0em 4.4em;
}

.card-offre:nth-child(2) {
    margin-top: 9em
}

.card-offre:nth-child(3) {
    margin-top: -9em
}

.card-offre h3 {
    margin: 0em 0em;
    color: #fff;
    font-size: 1.9em;
    font-weight: bold;
    padding: 4px;
    font-weight: bold;
    max-width: 85%;
}

.card-offre p {
    color: #fff;
    font-size: 1.03em;
}

.card-offre .read-more{
    padding: 1em 0em 0em;
}

.card-offre .button {
    background-color: #fff;
    padding: 0.9em 2em;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: bold;
    display: inline-block;
    border: 2px solid #fff;
}

.card-offre .button:hover {
    color: #fff;
    background-color: transparent;

    transition: 0.3s;
}

.card-offre .bloc-image {
    text-align: right;
}

.card-offre .bloc-image img {

}


.card-orange1   {   background-color: #ff8e23;  }
.card-orange1 .button   {   color:#ff8e23;    }

.card-orange2   {   background-color: #fbb03b;  }
.card-orange2 .button   {   color:#fbb03b;    }

.card-blue1   {   background-color: #757ce6;  }
.card-blue1 .button   {   color:#757ce6;    }

.card-blue2   {   background-color: #3b3786;  }
.card-blue2 .button   {   color:#3b3786;    }
