@import url(./home/font.css);

html,
body {
    margin: 0px;
    padding: 0px;
    font-family: "Lato";
    transform: rotate(-180deg);
    background-image: linear-gradient(301deg, #fbb03b 4%, #e1642b 99%);
    width: 100%;
    height: 100%;
    color: #fff;
}

.main{
    flex-grow: 0;
    padding: 4em    ;
}

.header{
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
}

.logo{
    width: 35%;
    padding: 5px;
}

.logo img{
  height: 55px;
}



.nous-rejoindre {
    color: white;
    padding: 0.7em 1.5em;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.85em;
    font-weight: bold;
    border: 2px solid #fff;
}

.nous-rejoindre:hover {
    color: #e1642b;
    background-color: white;
    transition: 0.3s;



}

.body{
    padding: 3em 0em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.content{
    width: 60%;
}

.content h2{
    font-size: 3.8em;
    font-weight: bold;
    font-style: italic;
}

.content p{
    line-height: 200%;
    margin: 2em 0em;
}

.content .lighting{
    font-weight: bold;
    background-color: #fff;
    color: #e1642b;
    padding: 0.1em;
}

.bloc-image{}

.bloc-image img{
    height: 450px;
}
.footer{
    font-size: 0.9em;
}

.ico-linkedin-white{
    height: 25px;
    width: 25px;
    padding: 2px 11px;
    background-image: url(../images/linkedin-white.png);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 20px;
}

.ico-linkedin-orange{
    height: 25px;
    width: 25px;
    padding: 2px 11px;
    background-image: url(../images/linkedin-orange.png);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 20px;
}

.bloc-link{
    height: auto;
    padding: 2em 0em;
    display: flex;
    flex-wrap: wrap;
}

.link-to-linkedIn {
    color: #e1642b;
    padding: 0.7em 0.5em;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.85em;
    font-weight: bold;
     border: 2px solid #fff;
    background: #fff;
    /* font-weight: bold; */
    margin: 0.5em 1em 0em 0em;
}

.link-to-linkedIn-soft-factory {
    color: #fff;
    padding: 0.7em 0.5em;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.85em;
    font-weight: bold;
     border: 2px solid #434092; 
    background: #434092;
    /* font-weight: bold; */
    margin: 0.5em 1em 0em 0em;
}

.link-to-linkedIn-soft-factory:hover {
    /*box-shadow: -1px 0px 13px 1px rgba(0,0,0,0.27);*/
    background: rgba(0, 0, 0, 0.247);
    transition: 0.3s;
}

.link-to-linkedIn:hover {
    /*box-shadow: -1px 0px 13px 1px rgba(0,0,0,0.27);*/
    background: rgba(0, 0, 0, 0.247);
    color: white;
    transition: 0.3s;
}

.link-to-linkedIn .t, .link-to-linkedIn-soft-factory .t {
    margin-left: 10px;
}