
.partenaire {
    height: 253px;
    background: #3b3786;
    text-align: center;
    padding: 2em 2em 0em;
}
.partenaire h4 {
    margin: 0em 0em;
    padding: 0.3em;
    color: #39bcc8;
    font-size: 0.9em;
    font-weight: bold;
}

.partenaire h3 {
    margin: 0em 0em;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    padding: 4px
}


.partenaire-bloc-vignette {
    padding: 2em 2em 0em;
}

.partenaire-list-vignette {
    max-width: 950px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

@keyframes leaves {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.1);
    }
}

.partenaire-vignette {
    width: 210px;
    height: 100px;
    border-radius: 10px;
    text-decoration: none;
}
.partenaire-vignette:hover {
    
    
    animation: leaves; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 0.3s; /* don't forget to set a duration! */
    transform: scale(1.1);
}

.partenaire-vignette img{
    height: 60px;
}

