.reference {
    padding: 5em 2em 5em;
    /*height: 760px;*/
}

.reference-bloc {
    max-width: 1069px;
    height: 100%;
    margin: 0 auto;
}

.reference-bloc h4 {
    margin: 0em 0em;
    padding: 0.3em;
    color: #ffab09;
    font-size: 0.9em;
    font-weight: bold;
}

.reference-bloc h3 {
    margin: 0em 0em;
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    padding: 4px
}

.reference-bloc-vignette {
    padding: 1em 0em 0em;
}

.reference-list-vignette {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.reference-vignette {
    width: 170px;
    height: 170px;
    background-color: #fff;
    border-radius: 10px;
    margin: 7px;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.reference-vignette img{
    width: 110px;
    opacity: 0.8;
    -webkit-filter: grayscale(100%); /* Pour les navigateurs Chrome, Safari, Opera */
    filter: grayscale(100%); /* Firefox */
}

.reference-vignette:hover {}
.reference-vignette:hover img{
    width: 130px;
    animation: bounceIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    -webkit-filter: grayscale(0%); /* Pour les navigateurs Chrome, Safari, Opera */
    filter: grayscale(0%); /* Firefox */
}