@import url(./home/font.css);
@import url(./home/slide.css);
@import url(./home/qui-somme-nous.css);
@import url(./home/nous-rejoindre.css);
@import url(./home/offre.css);
@import url(./home/metier.css);
@import url(./home/partenaire.css);
@import url(./home/reference.css);
@import url(./home/carriere.css);
@import url(./home/satisfaction.css);
@import url(./home/news-letter.css);
@import url(./home/footer.css);
@import url(./home/svg-satisfaction-animation.css);
@import url(./home/carroussel-article.css);
@import url(./home/carroussel-nr.css);
@import url(./home/carroussel-partenaire.css);
@import url(./home/carroussel-vid.css);

@import url(./nr/nr.css);
@import url(./blog/blog.css);

@import url(./page-header.css);
@import url(./enjeux/enjeux.css);
@import url(./offres/offre.css);


html,
body {
    margin: 0px;
    padding: 0px;
    font-family: "Lato";
    /*background-image: url(../images/bg.png);*/
    background-size: 1366px;
    background-repeat: no-repeat;
    background-position-x: center;
    overflow-x:hidden;
    scroll-behavior: smooth;
}

.page { overflow: hidden;}

.header {
    height: 80px;
}

.logo-menu{
    height: 100%;
    margin: auto;
    max-width: 1334px;
}
.bloc-logo{
    float: left;
    margin: auto;
    width: 20%;
    text-align: center;
    height: 80px;
    /* padding: 17px;*/
}
.bloc-logo img{
    height: 40px;
    margin: 1.4em 0em;

}
.bloc-menu{
    /* margin: auto; */
    float: right;
    margin: auto;
    width: 80%;
    text-align: center;
    /* height: 100px; */
    height: 100%;
}

/* Menu */
nav {
    width: 100%;
    margin: 0 auto;
}
nav ul {
    list-style: none;
    text-align: center;
    width: 100%;
    margin: 1.5em 0em;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 0em 7em;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    font-weight: 800;
    margin: 3px 6px;
    font-size: 0.9em;
    color: #000;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: #ffab09;
}

nav ul .social-network:hover {
    text-decoration: none;
}

nav.stroke ul li a,
nav.fill ul li a {
    position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #ffab09;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}


nav.stroke ul li a.active{
    border-bottom: 2px solid #ffab09;
    color: #ffab09;
}

nav .social-network a{
    margin: 2px;
    padding: 0px;
}

.articles {
    padding-top: 5em;
    height: 637px;
    background-image: url(../images/heolienne-bg.png);
    background-size: 950px;
    background-repeat: no-repeat;
}

.bloc-articles {

    height: 558px;
    background-color: #eeeeee3b;
}

.bloc-articles-right {
    float: right;
    height: 100%;
    padding: 2em 0.8em;
    width: 70%;
}

.bloc-articles-right h4 {
    margin: 0em 0em;
    padding: 0.3em;
    color: #3d348b;
    font-size: 1.2em;
    font-weight: bold;
}

.bloc-articles-right h3 {
    margin: 0em 0em;
    color: #000;
    font-size: 2.02em;
    font-weight: bold;
}

.bloc-articles-carroussel {
    margin-top: 2em;
}

.bloc-articles-carroussel .carroussel-action{
    height: 50px;
    margin: 15px 0px;
}

.bloc-articles-carroussel .read-more {
    float: left;
    padding: 15px 0px
}
.bloc-articles-carroussel .read-more .button {
    background-color: #3d348b;
    color: white;
    padding: 0.9em 2em;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: bold;
    border: 2px solid #3d348b;
}

.bloc-articles-carroussel .read-more .button:hover {
    background-color: transparent;
    color: #3d348b;
    transition: 0.3s
}

.bloc-articles-carroussel .read-more.button:active {
    background-color: black;
}

.bloc-articles-carroussel .navigation{
    float: right;
}

.bloc-articles-carroussel .navigation .button {
    color: white;
    padding: 0.8em 1.5em;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 30px;
    width: 45px;
    height: 45px;
    padding: 5px;
    margin: 3px;
    display: block;
    border: 3px solid #3d348b;
    cursor: pointer;
    padding: 13px 11px;

}

.bloc-articles-carroussel .navigation .button svg g path {
    fill: #3d348b;
  }

.bloc-articles-carroussel .navigation .button:hover {
    background-color: #3d348b;
    transition: 0.3s
}

.bloc-articles-carroussel .navigation .button:hover  svg g path {
    fill: #fff;
    transition: 0.3s
}

.bloc-articles-carroussel .navigation .left {  float: left; }
.bloc-articles-carroussel .navigation .right { float: right; }

/*CARD ARTICLE*/
.card {
    width: 391px;
    text-align: center;
    /*transition: all .125s;
    transform: scale(1) translateY(0px);*/
}

/* Elements */
.card__wrapper {
    padding-top: .1px;
    padding-bottom: .1px;
    position: relative;

    background-color: #ffffff;
    color: #999999;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .05);
    border-radius: 13px;
}

.card__wrapper img {
    display: block;
    width: 100%;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.card__wrapper:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 15px;
    right: 15px;
    bottom: 0;
    left: 15px;

    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .2);
    /*transition: all .125s;
    transform: scale(1) translateY(0px);*/
}

.card__type {
    height: 29px;
}

.card__type h6 {
    border-radius: 47px;
    text-transform: uppercase;
    
    color: #fff;
    float: left;
    padding: 7px;
    margin: 0px;
    width: 30%;
    font-size: 0.8em;
}
.violet {
    background-color: #3d348b;
}

.blue {
    background-color: #2b95ff;
}

.red {
    background-color: #ff0000;
}

.card__type .date {
    width: 70%;
    float: right;
    height: 29px;
    text-align: right;
    vertical-align: bottom;
    font-size: 0.8em;
    padding: 7px;

}


.card__box {
    padding-right: 35px;
    padding-left: 20px;
    margin-top: 17px;
    margin-bottom: 25px;

}

.card__item {
    margin-top: 0px;
    margin-bottom: 0px;
}

.card__item p {
    text-align: left;
    color: #000;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
}

.card__item--small {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card__feature {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.card__img {
    display: block;
    max-width: 100%;
    height: 160px;
    width: 391px;
}

.card__header {
    position: relative;
    z-index: 1;
}

.card__title {
    color: #665fa2;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.25;
    text-align: left;
    font-weight: bold;
}

.card__label {
    color: #cccccc;

    font-family: 'Montserrat', sans-serif;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.card__divider {
    display: block;
    width: 100%;
    height: 15px;

    border: none;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIyOHB4IiBoZWlnaHQ9IjE1cHgiIHZpZXdCb3g9IjAgMCAyOCAxNSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjggMTUiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiNERURFREUiIGQ9Ik0yNy41LDdoLTZDMjEuMiwzLjEsMTgsMCwxNCwwUzYuOCwzLjEsNi41LDdoLTZDMC4yLDcsMCw3LjIsMCw3LjVTMC4yLDgsMC41LDhoNmMwLjMsMy45LDMuNSw3LDcuNSw3czcuMi0zLjEsNy41LTdoNkMyNy44LDgsMjgsNy44LDI4LDcuNVMyNy44LDcsMjcuNSw3eiBNMTQsMWMzLjQsMCw2LjIsMi42LDYuNSw2SDcuNUM3LjgsMy42LDEwLjYsMSwxNCwxeiBNMTQsMTRjLTMuNCwwLTYuMi0yLjYtNi41LTZoMTIuOUMyMC4yLDExLjQsMTcuNCwxNCwxNCwxNHoiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-position: center center;
}

.card__body {
    font-size: 12px;
    line-height: 1.75;
}

/* Modifiers */
.card:hover {
    cursor: pointer;
    /*transform: scale(1.05);*/
}

.card:hover .card__wrapper {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .05);
}

.card:hover .card__wrapper:after {
    /*transform: scale(0.95) translateY(10px);*/
}

.bloc-menu-logo-network{
    float: right;
}

.center-top-button{
    display: block;
    height: 60px;
    width: 60px;
    margin: auto;
    position: absolute;
    left: 48%;
    top: 698px;
    background: #fff;
    z-index: 5;
    border-radius: 63px;
    padding: 0.6em 1.22em;
    box-shadow: 0px 2px 13px 3px rgb(0 0 0 / 10%);
}

.center-bottom-button{
    display: block;
    height: 60px;
    width: 60px;
    margin: -55px 13px;
    position: absolute;
    left: 48%;
    background: #fff;
    z-index: 5;
    border-radius: 63px;
    padding: 0.9em 1.4em;
    box-shadow: 0px 2px 13px 3px rgb(0 0 0 / 10%);
}
.center-bottom-button:hover{
    background: linear-gradient(to bottom, #ffaf06 0%, #ff8c24 100%);
    box-shadow: 0px 2px 13px 3px rgb(255 255 255 / 41%);
    transition: 0.3s;
}

.owl-dots{
    display: none;
}

.center-bottom-button:hover path {
    fill: #fff;
}

.bloc404 {
    background-image: linear-gradient(127deg, #fbb03b 0%, #e1642b 100%);
    height: 765px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloc404 .bloc{
    width: 1295px;
    display: flex;
    flex-direction: row;
    color: #fff;
}
.bloc404 .bloc .image{width: 50%;}
.bloc404 .bloc .description{width: 50%; padding: 2em;
}
.bloc404 .bloc h4{
    font-size: 2em;
    font-weight: bolder;
    color: #3e3b8b;
    margin: 0em;
}
.bloc404 .bloc h2{
    font-size: 8em;
    font-weight: bolder;
    margin: 0em;
    font-style: italic;
}
.bloc404 .bloc p{
    font-size: 1.5em;
}

.bloc404 .bloc .description .button {
    background-color: #3e3b8b;;
    padding: 0.9em 2em;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9em;
    display: inline-block;
    border: 2px solid #3e3b8b;
    color: #fff;
    transition: 0.3s;

}

.bloc404 .bloc .description .button:hover {
    color: #3e3b8b;
    background-color: transparent;
    font-weight: bold;
    transition: 0.3s;
}

.bloc500 {
    background-image: linear-gradient(127deg, #3b3786 0%, #757ce6 100%);
    height: 765px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloc500 .bloc{
    width: 1295px;
    display: flex;
    flex-direction: row-reverse;
    color: #fff;
}
.bloc500 .bloc .image{width: 50%;}
.bloc500 .bloc .description{width: 50%; padding: 2em;
}
.bloc500 .bloc h4{
    font-size: 2em;
    font-weight: bolder;
    color: #ff941d;
    margin: 0em;
}
.bloc500 .bloc h2{
    font-size: 8em;
    font-weight: bolder;
    margin: 0em;
    font-style: italic;
}
.bloc500 .bloc p{
    font-size: 1.5em;
}

.bloc500 .bloc .description .button {
    background-color: #ff941d;;
    padding: 0.9em 2em;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9em;
    display: inline-block;
    border: 2px solid #ff941d;
    color: #fff;
    transition: 0.3s;

}

.bloc500 .bloc .description .button:hover {
    color: #ff941d;
    background-color: transparent;
    font-weight: bold;
    transition: 0.3s;
}


.form-contact{
    margin: auto !important;
    box-shadow: none !important;
    width: 100%;
    
    padding: 5em;

}

.form-contact .bloc-form-postuler {
    background: #fff;
    padding: 1em;
    margin: auto;
    width: 1069px;
    border-radius: 1em;
}

.form-contact .form-postuler {
    max-width: 1069px;
    margin: auto;
    padding: 1em 0em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #3f3b8b;
}

.contact_news_letter{
    display: flex;
    max-width: 1069px;
    margin: 4em auto;
    height: 1000px;

}

.contact_nous{
    background: #fbb03b;
    color: #fff;
    padding: 2em;
    border-radius: 1em;
    height: 580px;
    z-index: 1;
}

.contact_news_letter .news-letter{
    height: 300px;
    background-size: 1366px;
    background-repeat: no-repeat;
    background-position-x: center;
    padding: 0em 0em 0em 3em;
}

.contact_news_letter  .bloc-news-letter-main {
    border-radius: 12px;
    margin: 0px auto;
    max-width: 1069px;
    height: 333px;
    background: linear-gradient(98deg, #3d348b 1%, #757ce6 100%);
}

.contact_news_letter  .bloc-news-letter {
    margin: 0px auto;
    max-width: 1069px;
    height: 100%;
    padding: 2.6em;
    background: url(../images//Mask_group.png) no-repeat;
    background-size: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact_news_letter .bloc-news-letter h4 {
    margin: 0em 0em;
    padding: 0.3em;
    color: #fff;
    font-size: 1.8em;
    font-weight: bold;
}

.contact_news_letter .bloc-news-letter p {
    margin: 0em 0em;
    color: #fff;
    font-size: 1em;
    padding: 4px;
}

.contact_news_letter  .bloc-news-letter input {
    padding: 0.7em;
    border-radius: 5px;
    border: none;
    color: #3d348b;
    border: 2px solid #fff;
    width: 70%;
    margin-right: 1em;
}

.contact_news_letter  .bloc-news-left {
    float: none;
}
.contact_news_letter  .bloc-news-right {
    float: none;
    margin: 1.5em 0em;
}
.contact-adresse{}

.contact-adresse svg g path {
    fill: #3d348b;
  }

.contact-adresse  hr {
    border: 1px solid #e29b2c;
}

.contact-adresse h4{
    margin: 0em 0em;
    padding: 0.3em;
    color: #42347f;
    font-size: 1.2em;
    font-weight: bold;
}
.contact-adresse h3{
    margin: 0em 0em;
    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
    padding: 4px;
}


.contact-adresse h5{
    color: #373737;
    font-weight: bold;
    margin: 6px 0px;
    font-size: 1em;
}

.violet-text {
    color: #3d348b!important;
}

.map-frame{
    width: 100%;position: absolute;margin: -690px 0px;height: 710px;
}

@media only screen and (max-width: 1100px) {
    .bloc-articles-right {
        height: auto;
        padding: 2em;
        width: 100%;
    }
    .articles { padding-top: 0em;}

    .contact_news_letter {
        margin: 0 auto;
        height: auto;
    }

    .contact_nous {
        border-radius: 0;
        height: auto;
    }

    .contact_news_letter {
        flex-direction: column-reverse;
    }

    .contact_news_letter .news-letter {
        padding: 0em;
    }

    .map-frame {
        width: 100%;
        position:inherit;
        margin: 0;
        height: 300px;
    }
}