.header-title-bloc {
    height: 397px;
}

.header-title-bloc .top-side {
    height: 285px;
    background-image: linear-gradient(102deg, #2e2e2e 0%, #525252 100%);
    border-bottom-left-radius: 65px;
    /*opacity: 0.5;*/
}
.top-side-bg{
    height: 285px;
}

.header-title-bloc .top-side .body-side{
    max-width: 1069px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.header-title-bloc .top-side .body-side .bloc-image{
    width: 55%;
    height: 100%;
}

.header-title-bloc .top-side .body-side .bloc-image img{
    width: 100%;
    height: 332px;
    margin-top: 65px;
    border-radius: 15px;
}

.header-title-bloc .top-side .body-side .bloc-title{
    width: 45%;
    height: 100%;
    padding: 5em 0em 0em 5em;
}

.header-title-bloc .top-side .body-side .bloc-title h4 {
    margin: 0em 0em;
    padding: 0.3em;
    color: #ffab09;
    font-size: 0.9em;
    font-weight: bold;
}

.header-title-bloc .top-side .body-side .bloc-title h3 {
    margin: 0em 0em;
    color: #fff;
    font-size: 2.2em;
    font-weight: bold;
    padding: 4px;
    text-transform: uppercase;
    font-style: italic;
}

.header-title-bloc .top-side .body-side .bloc-title p {
    color: #fff;
}


.enjeux-secteur{
    height: 400px;
    width: 1069px;
    margin: auto;
    padding: 5em 0em 2em 0em;
    text-align: center;
}

.line-shape{
    height: 73px;
}

.enjeux-secteur h4 {
    margin: 0em 0em;
    color: #ffab09;
    font-size: 1.2em;
    font-weight: bold;
}

.enjeux-secteur h3 {
    margin: 0em 0em;
    color: #3f3f3f;
    font-size: 2.1em;
    font-weight: bold;
    padding: 4px;
    font-weight: bold;
}

.enjeux-secteur p {
    color: #3f3f3f;
}


.enjeux-secteur ul{
    margin: 0px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    align-items: center;
    justify-content: space-between;
    height: 93px;
}

.enjeux-secteur ul li{
    display: inline-block;
    width: 334px;
    height: 100%;
}
.enjeux-secteur ul li a{
    font-size: 1.3em;
    display: block;
    text-decoration: none;
    height: 100%;
    padding: 1.5em 0em;
    /* vertical-align: middle; */
    color: #494949;
    background: #e6e6e6;
    border-radius: 10px;
}

.enjeux-secteur ul li a span{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.enjeux-secteur ul li a:hover {
     font-weight: bold;
     background: #fbb243;
     color: #fff;
     transition: 0.3s;
}

.enjeux-secteur ul li a:hover span {
    animation: bounceIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}

.enjeux-secteur-details{
    height: 446px;
    width: 1069px;
    margin: auto;
    padding: 1em 2em 1em 2em;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.enjeux-secteur-details .bloc-image{
    width: 35%;
    height: 100%;
}
.enjeux-secteur-details .bloc-description{
    width: 65%;
    height: 100%;
    padding: 5em;
    text-align: left;
}

.enjeux-secteur-details .bloc-description h3{
    color: #3d3a8a;
    font-size: 2.5em;
    margin: 0px;
}

.enjeux-secteur-details .bloc-description p{
    line-height: 156%;
    font-size: 1.1em;
}

.defis-bg{
    background: #f9f9f9;

}
.defis{
    height: 711px;
    /* margin: auto; */
    padding: 0em;
    text-align: center;
    background-image: url(../../images/heolienne-bg.png);
    background-size: 799px;
    background-repeat: no-repeat;
    background-position-y: bottom;

}


.defis-content{
    width: 1167px;
    padding: 4em 3em;
    height: 100%;
    margin: auto;
    text-align: left;
}


.defis-content h4 {
    margin: 0em 0em;
    color: #ffab09;
    font-size: 1.2em;
    font-weight: bold;
}

.defis-title{
    width: 50%;
    height: 100%;
    text-align: left;
    padding: 3em 8em;
    background: #f9f9f9;
}


.defis-content h3 {
    margin: 0em 0em;
    color: #3f3f3f;
    font-size: 2.1em;
    font-weight: bold;
    padding: 4px;
    font-weight: bold;
}


.defis-content ul{
    display: flex;
    padding: 0em;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1.6em 0em;
}
.defis-content ul li{
    display: inline-block;
    width: 48%;
    margin: 0em 0em 2em;
}
.defis-content ul li a{
    display: flex;
    text-decoration: none;
    height: 100%;
    padding: 0.5em 2em;
    color: #494949;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
}

.defis-content ul li a .icone{
    display: block;
    background: #fff;
    padding: 1.2em;
    border-radius: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
}
.defis-content ul li a .description{
    padding: 0em 1em;
}
.defis-content ul li a .description h5{
    margin: 1em 0em 1em 0.8em;
    color: #3d3a8a;
    font-size: 1.1em;
}

.defis-content ul li a .description p{
    font-size: 0.8em;
    margin-left: 1.1em;
}



.defis-content ul li a:hover {
     background: #fff;
     transition: 0.3s;
}
.defis-content ul li a:hover .icone{
    background: orange;
}

.enjeux-valeur{
    margin: auto;
    padding: 4em;
    text-align: center;
}

.enjeux-valeur h4 {
    margin: 0em 0em;
    color: #413e8c;
    font-size: 1.2em;
    font-weight: bold;
}

.enjeux-valeur h3 {
    margin: 0em 0em;
    color: #3f3f3f;
    font-size: 2.1em;
    font-weight: bold;
    padding: 4px;
    font-weight: bold;
}