.dev-tab-content .card {
    width: 380px;
    text-align: center;
    margin: 1em 0em;
    text-decoration: none;
}


.espace-bloc-videos {
    background-color: #3d348b;
    background-image: url(../../images/multicon.png);
    background-repeat: no-repeat;
    background-size: 495px;
    background-position-x: left;
}

.espace-bloc-videos-title-nav{
    max-width: 1295px;
    padding: 1em 0em 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.espace-bloc-videos-title{}
.espace-bloc-videos-nav{
    display: flex;
}

.espace-bloc-videos-title h4 {
    margin: 0em 0em;
    color: #ffab09;
    font-size: 1.2em;
    font-weight: bold;
}

.espace-bloc-videos-title h3 {
    margin: 0em 0em;
    color: #fff;
    font-size: 2.1em;
    font-weight: bold;
}


.disposition-left{
    padding: 3em 0em 3em 13em;
}


.espace-bloc-videos-nav .button {
    color: white;
    padding: 0.8em 1.5em;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 30px;
    width: 45px;
    height: 45px;
    padding: 5px;
    margin: 3px;
    display: block;
    border: 3px solid #fff;
    cursor: pointer;
    padding: 13px 11px;    
}


.espace-bloc-videos-nav .button svg g path {
    fill: #fff;
  }
  
  .espace-bloc-videos-nav .button:hover {
    background-color: #fff;
    transition: 0.3s
  }
  
  .espace-bloc-videos-nav .button:hover  svg g path {
    fill: #3b3786;
    transition: 0.3s
  }


  .article-similaire {
    padding: 1em 2em 0em;
    display: flex;
    justify-content: space-between;
}

.article-similaire .card {
    width: 370px;
    text-align: center;
    margin: 1em 0em;
    text-decoration: none;
}



.card_video{
    width: 370px;
    height: 300px;
    text-align: left;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

.card_video_layer:hover{
    background: linear-gradient(0deg, #ff8c245e 26%, #00000026 40%);
    transition: 0.3s;

}

.card_video_layer{
    padding: 1.5em;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #00000061 26%, #00000026 40%);
    border-radius: 11px;
}
.card_video .bloc-play{
    height: 57%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.card_video .bloc-play svg {
    height: 70px;
}
.card_video .date{
    font-size: 0.75em;
    display: flex;
    align-items: center;
}
.card_video .date span{ padding:0 10px; }
.card_video h2{
    margin: 0.4em 0em;
    font-size: 1.3em;
    font-weight: 400;
}
.card_video p{
    font-size: 0.8em;
    margin: 0 0em 1em;
}

.card_video a{
    color: #ffab09;
    font-size: 0.75em;
}

.blog-content {
    margin: auto;
    max-width: 1000px;
    text-align: center;
    padding: 2em;
    color: #3f3f3f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-content h6 {
    border-radius: 47px;
    text-transform: uppercase;
    color: #fff;
    float: left;
    padding: 7px;
    margin: 3em;
    width: 108px;
    font-size: 0.8em;
}

.blog-content h3{ 
    margin: 0em 0em;
    font-size: 2.1em;
    font-weight: bold;
 }

 .blog-content .content{
    text-align: justify;
    line-height: 200%;
    margin: 4em 0em;
    font-size: 0.98em;
 }

.blog-content  .bloc-partage {
    width: 100%;
    text-align: left;
}

.blog-conten .bloc-partage .describe-poste h3 {
    margin: 0em 0em;
    color: #3b3786;
    font-size: 1.5em;
    font-weight: bold;
    /* padding: 4px; */
}

.blog-content h5 { color:#3b3786;}
.blog-content p {
    margin: 1em 0em;
    font-size: 0.95em;
}

.blog-content h4 { color:#ffab09; font-size: 1.5em;}
.blog-content img { width: 100%;}

.blog-content h5 {
    color: #3b3786;
    padding: 0em;
    margin: 0em;
    font-size: 1.3em;
}
.blog-action-event{
    margin: -3em auto ;
}


.speakers{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding: 1em 0em;
    justify-content: space-between;
    width: 755px;
}

.speaker{
    height: 275px;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 235px;
    border-radius: 0.5em;
}
.speaker-img{
    height: 70%;
    width: 100%;
}
.speaker-describe{
    width: 100%;
    padding: 1em;
}
.speaker-describe h4{
    color: #3b3786;
    padding: 0em;
    margin: 0em;
    font-size: 1.1em;
}
.speaker-describe p{
    margin: 0em;
    font-size: 0.95em;
    color: #707070;
    text-align: left;
}