.reference {
    padding: 3em 2em 0em;
    /*height: 760px;*/
}

.reference-bloc {
    max-width: 1069px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reference-bloc h4 {
    margin: 0em 0em;
    padding: 0.3em;
    color: #ffab09;
    font-size: 0.9em;
    font-weight: bold;
}

.reference-bloc h3 {
    margin: 0em 0em;
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    padding: 4px
}

.reference-bloc-vignette {
    padding: 1em 0em 0em;
}

.reference-list-vignette {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
}

.reference-vignette {
    width: 198px;
    height: 130px;
    background-color: #fff;
    border-radius: 10px;
    margin: 7px;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reference-vignette img{
    width: 65%;
    opacity: 0.8;
    -webkit-filter: grayscale(100%); /* Pour les navigateurs Chrome, Safari, Opera */
    filter: grayscale(100%); /* Firefox */
}

.reference-vignette:hover {}
.reference-vignette:hover img{
    width: 130px;
    animation: bounceIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    -webkit-filter: grayscale(0%); /* Pour les navigateurs Chrome, Safari, Opera */
    filter: grayscale(0%); /* Firefox */
}

.mini-img {
    width: 35%!important;
}

@media only screen and (max-width: 1100px) {
    .reference-vignette {
        width: 161px;
    }
    .reference-list-vignette {
        justify-content: space-around;
    }
    .reference-vignette img {
        width: 86%;
    }
}