.satisfaction {
    text-align: center;
    background-image: url(../../images/bg-satisfaction.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    padding: 5em 2em 5em;
    background-color: #fafafa;
}

.satisfaction h4 {
    margin: 0em 0em;
    padding: 0.3em;
    color: #ffab09;
    font-size: 0.9em;
    font-weight: bold;
}

.satisfaction h3 {
    margin: 0em 0em;
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    padding: 4px
}
.satisfaction .diagram {
    padding: 3em;
}

.satisfaction svg {
    max-width: 880px;
}