
.btn {
  display: inline-block;
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  background: transparent;
  border: 1px solid #e1e1e1;
  /*font: 12px/1.2 "Oswald", sans-serif;*/
  letter-spacing: 0.4em;
  text-align: center;
  text-indent: 2px;
  text-transform: uppercase;
  transition: color 0.1s linear 0.05s;
}
.btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e1e1e1;
  z-index: 1;
  opacity: 0;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
}
.btn::after {
  transition: border 0.1s linear 0.05s;
}
.btn .btn-inner {
  position: relative;
  z-index: 2;
}
.btn:hover {
  color: #373737;
  transition: color 0.1s linear 0s;
}
.btn:hover::before {
  top: 0;
  height: 100%;
  opacity: 1;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}
.btn:hover::after {
  border-color: #373737;
  transition: border 0.1s linear 0s;
}

.slideshow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 650px;
  z-index: 1;
}
.slideshow .slideshow-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slideshow .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slideshow .slide {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.slideshow .slide.is-active {
  display: block;
}
.slideshow .slide.is-loaded {
  opacity: 1;
}

.slideshow .slide .caption {
  padding: 2em;
  color: #000;
  background: #fff;
  border-radius: 5px;
  width: 490px;
  text-align: left;
  height: 298px;
  
}

.slideshow .slide .caption h3 {
  margin: 0em 0em;
  color: #000;
  font-size: 2.02em;
  font-weight: bold;
  padding: 4px
}

.slideshow .slide .caption p{
  line-height: 126%;
  padding: 5px;
}


.slideshow .slide .caption .read-more {
  padding: 1em 0em;
}
.slideshow .slide .caption .read-more .button {
  background-color: #ffab09;
  color: white;
  padding: 0.8em 1.5em;
  text-decoration: none;
  border-radius: 5px;
  font-size: 0.8em;
  font-weight: bold;
  margin: 5px;
  border: 1px solid #fff;
}

.slideshow .slide .caption .read-more .button:hover {
  color: #ffab09;
  background-color: white;
  transition: 0.3s;
  border: 1px solid #ffab09;
}



.slideshow .slide .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  z-index: 1;
  background-size: cover;
  image-rendering: optimizeQuality;
}
.slideshow .slide .image-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.slideshow .slide .image {
  width: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.slideshow .slide-content {
  position: absolute;
  top: 0;
   left: 0; 
  /* width: 100%; */
  /* height: 100%; */
  z-index: 2;
  /* color: #fff; */
  text-align: center;
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
  margin: 150px 0px;
  padding: 0px 150px;
}
.slideshow .slide .title {
  margin: 0 auto 15px;
  max-width: 1000px;
  /*font: 300 50px/1.2 "Oswald", sans-serif;*/
  color: #000;
  font-size: 1.5em;
  font-weight: bold;

  letter-spacing: 0.35em;
  text-transform: uppercase;
}
.slideshow .slide .text {
  margin: 0 auto;
  max-width: 1000px;
  font-size: 18px;
  line-height: 1.4;
}
.slideshow .slide .btn {
  margin: 15px 0 0;
  border-color: #fff;
}
.slideshow .slide .btn::before {
  background: #fff;
}
.slideshow .pagination {
  position: absolute;
  top: 425px;
  left: 187px;
  /* width: 100%; */
  height: 12px;
  cursor: default;
  z-index: 2;
  text-align: center;
}
.slideshow .pagination .item {
  display: inline-block;
  /* padding: 15px 5px; */
  position: relative;
  width: 15px;
  height: 15px;
  cursor: pointer;
  text-indent: -999em;
  z-index: 1;
  /*background: #fff;
  border-radius: 8px;
  border: 2px solid #ffab09;*/
}
.slideshow .pagination .item + .page {
  margin-left: -2px;
}
.slideshow .pagination .item::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 5px;
  width: 15px;
  height: 15px;
  border-radius: 8px;
  border: 2px solid #ffab09;
  background: rgba(255, 255, 255, 0.5);
  transition: background 0.2s ease;
}
.slideshow .pagination .item::after {
  width: 0;
  background: #fff;
  z-index: 2;
  transition: width 0.2s ease;
}
.slideshow .pagination .item:hover::before, .slideshow .pagination .item.is-active::before {
  background-color: #ffab09;
}
.slideshow .arrows .arrow {
  margin: -33px 0 0;
  padding: 14px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 3;
}

.slideshow .arrows .arrow svg g path {
  fill: #ffab09;
}
.slideshow .arrows .prev {
  position: absolute;
  top: 456px;
  left: 504px;
  height: 50px;
  width: 50px;
  border: 3px solid #ffab09;
  border-radius: 37px;
  background: #fff;
}
.slideshow .arrows .prev:hover{
  background: #ffab09;
  transition: 0.3s;
}

.slideshow .arrows .prev:hover svg g path{
  fill: #fff;
}

.slideshow .arrows .next:hover svg g path{
  fill: #fff;
}

.slideshow .arrows .next:hover{
  background: #ffab09;
  transition: 0.3s;

}

.slideshow .arrows .prev:hover .svg {
  left: -10px;
}
.slideshow .arrows .next {
  position: absolute;
  top: 455px;
  left: 563px;
  height: 50px;
  width: 50px;
  border: 3px solid #ffab09;
  border-radius: 37px;
  background: #fff;
  opacity: 0.9;
}
.slideshow .arrows .next:hover .svg {
  left: 10px;
}
.slideshow .arrows .svg {
  position: relative;
  left: 0;
  width: 14px;
  height: 26px;
  fill: #fff;
  transition: left 0.2s ease;
}

/* Responsive*/
@media only screen and (max-width: 1120px) {
  .slideshow .slide-content {
    margin: 0;
    padding: 0;
    top: 350px;
    width: 100%;
  }

  .slideshow .slide .caption {
    width: auto;
    height: 300px;
    border-radius: 0;
    background-color: #ffffffde;
  }

  .slideshow .pagination{
    top: 329px;
    left: 32px;
  }

  .slideshow .arrows .prev { left: auto; right: 5.5em; top: 360px;  }
  .slideshow .arrows .next { left: auto; right: 2em; top: 360px; }

  .center-top-button {
    left: 45% !important;
  }
}